<ion-view title="Awasi" class='title_hack cariaman'>
<ion-nav-buttons side="left">
<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="padding">
<div class="list">
	<div class="item text-center">
		<h1>Kabar Terbaru</h1>
	</div>
	<div id="latest">
		
	</div>
	<div class="item tabs tabs-secondary tabs-icon-left" ng-click='loadNew(11,8)'>
		<a class="tab-item">
			Lihat sebelumnya...
		</a>
	</div>
	<h2>&nbsp</h2>
</div>
</ion-content>
</ion-view>