<ion-side-menus class="verse-sidemenu">

  <ion-pane ion-side-menu-content can-drag-menu>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">

    <header class="bar bar-header bar-cariaman">
      <h1 class="title" style="color : #fff;">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/profil"><img src="img/icon-call.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Profil</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/peta">
        <img src="img/icon-premanisme.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Peta</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/awasi">
        <img src="img/icon-lainnya.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Awasi</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/chart">
        <img src="img/icon-08.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Pantau</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/urgent">
        <img src="img/icon-call.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Emergency Call</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>