<ion-view title="Profil" class='title_hack cariaman'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
	<div class="list">
		<div class="item text-center">
			<img src="//lh3.googleusercontent.com/-4i61-05eFBw/AAAAAAAAAAI/AAAAAAAAAgY/nKFOymLcwvI/s64-c/photo.jpg" height="60px" width="60px" style="border: 0px none;margin: 0px;padding: 0px;border-radius:40px;">
			<h2>Muhammad Reza Irvanda</h2>
			<p>08123456789</p>
			<p>muzavan@gmail.com</p>
			<hr/>
			<p style="white-space :normal;">
				Anda sedang berada di Kecamatan <b>Sukarasa.</b> Berhati-hatilah, sistem kami mencatat ada 3 berita dan 5 laporan kejahatan.
			</p>
			<p style="white-space :normal;">Daerah terawan saat ini:<b>Sukarasa,Coblong,Bandung Wetan</b></p>
			<img src="img/alert.gif" width="80px" height="80px" />
		</div>
		
		<h2>&nbsp</h2>
	</div>
	</ion-content>
</ion-view>