<ion-view title="Darurat">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <!--
    <a class="item item-icon-left item-icon-right"  href="" ng-click="callnumber('081936063113')">
              <i class="icon ion-chatbubble-working"></i>
              Telepon Polisi!
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
      -->
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <button class="button-large button-icon button bottom-middle col col-center" href="" ng-click="callnumber('081936063113')" style="font-size:90px">
      	<i class="icon ion-ios7-telephone-outline" style="font-size: 300pt"></i>
      </button>
  </ion-content>
</ion-view>